$lightGreen: #b9e7e7;
.app {
    .container{
        .link{
            text-decoration: none;
            color: inherit;
        }
        //Login
        //Register
        .auth{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center ;
            height: 100vh;
            background-color: $lightGreen;

            h1{ // change
                font-size: 20px;
                color: teal;
                margin-bottom: 20px;
            }

            form{
                display: flex;
                flex-direction: column;
                padding: 30px;
                width: 200px;
                gap: 20px;
                background-color: white;
            }

            input{
                padding: 10px;
                border: none;
                border-bottom: 1px solid gray;
            }

            button{
                padding: 10px;
                border: none;
                background-color: teal;
                color: white;
                cursor: pointer;
            }

            p{
                font-size: 12px;
                color: red;
                text-align: center;
            }

            span{
                font-size: 12px;
                text-align: center;
            }
        }

        //Navbar

        .navbar{
            .container{
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .logo{
                    img{
                        width: 120px;
                    }
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    h6{
                        font-size: 16px;
                        font-weight: 300;
                    }

                    span{
                        cursor: pointer;
                    }
                }
            }
        }

        //Footer

        footer{
            margin-top: 100px;
            padding: 20px;
            background-color: $lightGreen;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;
            img{
                height: 50px;
            }
        }

        .timeline{
            background: #3da3d5;
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            color: rgb(53, 53, 53);

        }

        .title{
            font-size: 15em;
            text-align: center;
            font-family: "Bebas Neue", sans-serif;
        }

        h3{
            padding-top: 0.25em;
        }

        .vertical-timeline-element-content{
            box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0 0.4em 0.1.25em 0 rgba(0, 0, 0, 0.15) !important;
        }

        .date{
            color: rgb(201, 251, 255);
        }

        #description{
            margin: 1.5em 0 2em 0;
        }

        .button{
            text-decoration: none;
            padding: 0.5em 1em ;
            border-radius: 5px;
            color: white;
        }

        .workButton{
            background-color: #06d6a0;
        }

        .workButton:hover{
            background-color: #04af82;
        }

        .schoolButton{
            background-color: #06d6a0;
        }

        .schoolButton:hover{
            background-color: #04af82;
        }

        @media only screen and (max-width: 1700px){
            .vertical-timeline-element-date{
                display: block !important;
                float: none !important;
                color:rgb(44, 44, 44);
                margin-top: 1.5em;
            }

            .title{
                font-size: 5em;
                text-align: center;
                font-family: "Bebas Neue", sans-serif;
            }
        }
    }

    .goals{
        background: #6cbfe9;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        color: rgb(53, 53, 53);
        vertical-align: sub;
        height: 100vh;

        

        .styled-table{
            border-collapse: collapse;
            margin: auto;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 800px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #009879;
            color: white;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type{
            border-bottom: 2px solid #009879;
        }

        .btn{
            border: none;
            color: white;
            padding: 5px 8px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 5px;
            font-size: 16px;
            margin: 4px 3px;
            cursor: pointer;
        }

        .btn-edit{
            background-color: #009879;
        } 

        .btn-delete{
            background-color: #f44336;
        }

        .btn-view{
            background-color: #e7e7e7;
            color: black;
        }
        .btn-add{
            background-color: #e7e7e7;
            color: black;
            margin-top: 100px;
            right:0;
        }
    }

    .addEdit{
        background: #6cbfe9;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        color: rgb(53, 53, 53);
        flex-direction: column;
        align-items: center;
        justify-content: center ;
        height: 100vh;


        form{
            margin: auto;
            padding: 15px;
            max-width: 400px;
            align-content: center;
            padding-top: 10%;
        }

        input[type="text"],
        input[type="date"],
        select{
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"]{
            width: 100%;
            background-color: #4caf50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="button"]{
            width: 100%;
            background-color: #40453e;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type="submit"]:hover{
            background-color: #45a049;
            
        }


    }
}
